<div class="card">
    <div class="card-header">
        Despachar
    </div>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="" class="form-label">Observação</label>
                <textarea formControlName="comments" class="form-control" id="comments" rows="3"></textarea>
            </div>
            <div class="d-flex justify-content-end align-items-center gap-1">
                <button type="button" class="btn btn-secondary" (click)="onCancelar()">Cancelar</button>
                <button type="submit" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Enviar
                </button>
            </div>
        </form>
    </div>
</div>