<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="card mb-3">
        <div class="card-header d-flex justify-content-between align-items-center">
            Parâmetros
            <!-- <button class="btn btn-primary btn-sm" type="submit" [disabled]="!hasChange"> -->
            <button class="btn btn-primary btn-sm" type="submit">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Salvar
            </button>
        </div>
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead class="bg-dark text-white">
                        <tr>
                            <th scope="col">Descrição</th>
                            <th scope="col">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let parametro of parametros">
                            <tr *ngIf="parametro.label !== 'PARAMETROS_VERSION'" style="cursor: pointer;">
                                <td scope="row">{{parametro?.description || parametro?.label }}</td>
                                <td>
                                    <ui-switch [formControlName]="parametro.label"
                                        *ngIf="parametro.type === 'boolean'"></ui-switch>
                                    <input [formControlName]="parametro.label" *ngIf="parametro.type === 'number'"
                                        type="text" mask="0999">
                                    <input [formControlName]="parametro.label" *ngIf="parametro.type === 'hour'" type="text"
                                        mask="Hh:m0">
                                    <input [formControlName]="parametro.label" *ngIf="parametro.type === 'datetime'" type="text">
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>